.header{
    background-color: #242c36;
    padding: 10px;
}

.header .top{
    text-decoration: none;
    padding: 5px;
    font-size: 1.2rem;
    color: #6b7785;
}

.header .top:hover{
    color: #ddd;
}

.header .jogos,
.header .biblioteca,
.header .perfil{
    color: #ddd;
    text-decoration: none;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1px;
}

.header .arrow{
    padding-left: 3px;
    padding-right: 3px;
    color: #6b7785;
}
